* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:not(i) {
  font-family: "Poppins", sans-serif;
}
:root{
  --primary-color:  #ad98e7;
  --secondary-color: #ffffff;
}
.dark-mode {
  --primary-color:  #361557;
  --secondary-color: #81818f;
}
body { 
  background-color: var(--primary-color);
}
#icon {
  width: 30px;
  margin: 30px;
  cursor: pointer;
}

.container {
  background-color: var(--secondary-color);
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}
.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-color);
}
.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--primary-color);
  font-size: 16px;
  background-color: var(--secondary-color);
}
.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--secondary-color);
  border-radius: 5px;
}
.result {
  position: relative;
}
.result h3 {
  font-size: 30px;
  color: #1f194c;
}
.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.result button {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  outline: none;
  font-size: 18px;  
}
.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}
.word-meaning {
  color: #575a7b;
}
.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid var(--primary-color);
  padding-left: 20px;
  margin-top: 30px;
}
.error {
  margin-top: 80px;
  text-align: center;
}
.footer-basic {
  padding: 40px 0;
  background-color: var(--secondary-color);
  color: #4b4c4d;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
.footer-basic {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  color: var(--secondary-color);
  height: 65px;
  font-size: 30px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}
